{% extends 'back/t_base_pays.html.twig' %}
{% block body %}
    <div class="card-header pb-0">
    <h6>
        <a href="{{ path('app_ville_new') }}" class="btn btn-outline-primary">ADD Ville</a>
        <a href="{{ path('app_monument_index') }}" class="btn btn-outline-info">List des monuments</a>
    </h6>
</div>

    <div class="card-header pb-3">
        <h4>Liste des Villes</h4>
    </div> 
    <form action="{{ path('app_ville_index') }}" method="get" class="d-flex">
        <input class="form-control me-2" placeholder="Taper le nom..." name="q" style="width: 20%;; height: 45px;">
        <button type="submit" class="btn bg-gradient-danger">Search</button>
    </form>
    {% if app.request.query.get('q') %}
        <button onclick="goBack()" class="btn btn-warning" style="width: 20%;; height: 45px;">View All</button>
    {% endif %}
    <script>
        function goBack() {
            console.log("Bouton View All cliqué");
            window.history.back();
        }
    </script>

    <!--_______________________________________-->
        <!--AJAX SEARCH -->
        <div class="d-flex"  >
            <div class="col-md-4 mx-auto">
                <div class="input-group">
                    <input class="form-control border-end-1 border rounded-pill" type="search" value="" id="example-search-input" style="bottom: 10px;padding-right: 12px;">
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary border-bottom-1 border rounded-pill ms-n5 border border-primary" type="button" id="searchButton"style="left: 60px;">
                            Search
                        </button>
                    </span>
                </div>
            </div>
        </div>
         <!--__________-->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script>
                $(document).ready(function () {
                    $('#searchButton').click(function () {
                        var searchQuery = $('#example-search-input').val().toLowerCase();
                        var noEventsRow = $('#noEventsRow');
            
                
                        $('.event-row').each(function () {
                            var eventRowText = $(this).text().toLowerCase();
            
                        
                            $(this).toggle(eventRowText.includes(searchQuery));
                        });
            
                    
                        noEventsRow.toggle($('.event-row:visible').length === 0);
                    });
                });
        </script>
        <!--/AJAX SEARCH  -->
        <!--_______________________________________-->
    <table class="table align-items-center mb-0" border="1">
        <thead>
            <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Id_ville</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Nom_ville</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Img_ville</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Desc_ville</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Pays</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nb_monuments</th>

            </tr>
        </thead>
        <tbody>
        <style>
                    .description {
                        max-width: 200px; /* ajustez cette valeur en fonction de vos besoins */
                        overflow: hidden;
                        text-overflow: ellipsis; /* ajout d'une ellipse (...) pour indiquer qu'il y a du contenu coupé */
                        white-space: nowrap; /* empêche le texte de se retourner à la ligne */
                    }
                </style>
        {% for ville in villes %}
            <tr class="event-row">
                <td>{{ ville.idVille }}</td>
                <td>{{ ville.nomVille }}</td>
                <td><img src="{{ asset('assets/BACK/img/Pays/' ~ ville.imgVille ) }}" alt="image_ville" style="max-width: 100px; max-height: 100px;"></td>                
                <td class="description">{{ ville.descVille }}</td>
                <td>{{ ville.Pays.nom_pays }}</td>
                <td>{{ ville.nb_monuments }}</td>
                <td>
                    <a href="{{ path('app_ville_show', {'id_ville': ville.idVille}) }}" class="btn bg-gradient-primary">Show</a>
                    <a href="{{ path('app_ville_edit', {'id_ville': ville.idVille}) }}" class="btn bg-gradient-warning">Update</a>
                    <a href="{{ path('deleteVille', {'id_ville': ville.idVille}) }}" class="btn bg-gradient-success">Delete</a>         
                    <a href="{{ path('app_ville_monuments', {'id': ville.idVille}) }}" class="btn btn-outline-primary">M</a> 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   
    
{% endblock %}
