{% extends 'back/t_base.html.twig' %}
{% block body %}
    <div class="card-body px-3 pt-3 pb-4">     
        <div class="table-responsive p-0">
            <table class="table align-items-center mb-0" border="1">
                <tbody>
                    <tr>
                        <th>Id_ville</th>
                        <td>{{ ville.idVille }}</td>
                    </tr>
                    <tr>
                        <th>Nom_ville</th>
                        <td>{{ ville.nomVille }}</td>
                    </tr>
                    <tr>
                        <th>Img_ville</th>
                        <td>{{ ville.imgVille }}</td>
                    </tr>
                    <tr>
                        <th>Desc_ville</th>
                        <td>{{ ville.descVille }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a href="{{ path('app_ville_index') }}"class="btn btn-primary">View list</a>

    <a href="{{ path('app_ville_edit', {'id_ville': ville.idVille}) }}"class="btn btn-warning">EDIT</a>

    {{ include('ville/_delete_form.html.twig') }}
{% endblock %}
