{% extends 'base_front.html.twig' %}

{% block title %}Restaurant index{% endblock %}

{% block body %}

    <!-- Your content goes here -->

    <h1>Restaurant index</h1>

    <style>
        .restaurant-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 30px;
            margin-top: 8%;
        }

        .restaurant-item {
            border: 1px solid #ddd;
            padding: 10px;
            display: flex;
            flex-direction: column;
            position: relative;
        }

        .restaurant-image {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }

        .reservation-button {
            margin-top: 30px; /* Adjust this value as needed */
            padding: 10px;
            background-color: #4CAF50;
            color: #fff;
            text-align: center;
           
            border-radius: 5px;
            cursor: pointer;}
    </style>

    <div class="restaurant-grid">
        {% for restaurant in restaurants %}
            <div class="restaurant-item">
                <p><strong>Nom:</strong> {{ restaurant.nom }}</p>
                <p><strong>Localisation:</strong> {{ restaurant.localisation }}</p>
                <img class="restaurant-image" src="{{ restaurant.image }}" alt="Restaurant Image">
                <p><strong>Description:</strong> {{ restaurant.description }}</p>
                <!-- Add your actions here if needed -->
                <a href="{{ path('app_reservation_new') }}" class="reservation-button">Réserver</a>
            </div>
        {% else %}
            <p>No records found</p>
        {% endfor %}
    </div>

{% endblock %}
