{% extends 'base.html.twig' %}

{% block title %}Hebergement index{% endblock %}

{% block body %}
<div style="padding-left: 25%;">
<div style="padding-top: 20%;">

    <h1>Hebergement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hebergement in hebergements %}
            <tr>
                <td>{{ hebergement.id }}</td>
                <td>{{ hebergement.nom }}</td>
                <td>{{ hebergement.description }}</td>
                <td>
                    <a href="{{ path('app_hebergement_show', {'id': hebergement.id}) }}">show</a>
                    <a href="{{ path('app_hebergement_edit', {'id': hebergement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_hebergement_new') }}">Create new</a>
{% endblock %}
