{% extends 'base_back.html.twig' %}

{% block title %}Hebergement{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Hebergement Details</h1>

        <div class="card">
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ hebergement.id }}</td>
                        </tr>
                        <tr>
                            <th>Nom</th>
                            <td>{{ hebergement.nom }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ hebergement.description }}</td>
                        </tr>
                        <tr>
                            <th>Lieu</th>
                            <td>{{ hebergement.lieu }}</td>
                        </tr>
                        <tr>
                            <th>Prix</th>
                            <td>{{ hebergement.prix }}</td>
                        </tr>
                        <tr>
                            <th>Image</th>
                            <td>{{ hebergement.image }}</td>
                        </tr>
                    </tbody>
                </table>

                <a href="{{ path('app_hebergement_index') }}" class="btn btn-primary">Back to List</a>
                <a href="{{ path('app_hebergement_edit', {'id': hebergement.id}) }}" class="btn btn-secondary">Edit</a>

                {{ include('hebergement/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}