{{ form_start(form, {'attr':  { 'novalidate': 'novalidate' } }) }}
    <div class="form-group">
    {{ form_label(form.nom, 'nom du restaurant') }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'id': 'user_name'}}) }}
        {{ form_errors(form.nom, { 'attr': { 'class': 'text-danger error-message' } }) }}
    </div>

    <div class="form-group">
    {{ form_label(form.localisation, 'Localisation du restaurant') }}
        {{ form_widget(form.localisation, {'attr': {'class': 'form-control', 'id': 'user_name' }}) }}
        {{ form_errors(form.localisation, { 'attr': { 'class': 'text-danger error-message' } }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.image, 'Image du restaurant') }}
        {{ form_widget(form.image, {'attr': {'class': 'form-control-file'}, 'help': 'Téléchargez une image pour le restaurant (format: jpg, jpeg, png)'}) }}
    </div>

    <div class="form-group">
    {{ form_label(form.description, 'Description du restaurant') }}
         {{ form_widget(form.description, {'attr': {'class': 'form-control', 'id': 'user_name' }}) }}
        {{ form_errors(form.description, { 'attr': { 'class': 'text-danger error-message' } }) }}
    </div>

    <button type="submit" class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}