{% extends 'back/t_base.html.twig' %}
{% block body %}
    
    <div class="card-header pb-0">
    <h6>
        <a href="{{ path('app_pays_new') }}" class="btn btn-success">ADD Pays</a>    
        <a href="{{ path('app_ville_index') }}" class="btn btn-secondary">List des villes</a>      
    </h6>
</div>
    <div class="card-header pb-3">
        <h4><h4>Liste des Pays</h4>
    </div>
<div class="card-body px-2 pt-2 pb-8">     
    <div class="table-responsive p-0">
        <form action="{{ path('app_pays_index') }}" method="get" class="d-flex">
            <input class="form-control me-2" placeholder="Taper le nom..." name="q" style="width: 20%;; height: 45px;">
            <button type="submit" class="btn btn-warning">Search</button>
            <a href="{{ path('app_pays_index') }}" class="btn btn-primary ms-2">View All</a>
        </form>
        <table class="table align-items-center mb-0" border="1">
            <thead>
                <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Id_pays</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Nom_pays</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Img_pays</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Desc_pays</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Langue</th>
                
                    <th class="text-secondary opacity-7"></th>
                </tr>
            </thead>
            <tbody>
            {% for pay in pays %}
                <tr>
                    <td>{{ pay.idPays }}</td>
                    <td>{{ pay.nomPays }}</td>
                    <td><img src="{{ asset('assets/BACK/img/Pays/' ~ pay.imgPays) }}" alt="image_pay" style="max-width: 100px; max-height: 100px;"></td>
                    <td>{{ pay.descPays }}</td>
                    <td>{{ pay.langue }}</td>
                    <td>
                        <a href="{{ path('app_pays_show', {'id_pays': pay.idPays}) }}" class="btn btn-primary">Show</a>
                        <a href="{{ path('app_pays_edit', {'id_pays': pay.idPays}) }}" class="btn btn-warning">Update</a>
                        <a href="{{ path('deletePays', {'id_pays': pay.idPays}) }}" class="btn btn-danger">Delete</a> 
                        <a href="{{ path('app_pays_villes', {'id': pay.idPays}) }}" class="btn btn-secondary">V</a> 
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
