{% extends 'back/t_base.html.twig' %}
{% block body %}
    <h4>Monument index</h4>

    <table class="table align-items-center mb-0" border="1">
        <thead>
            <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Id_monument</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Nom_monument</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Img_monument</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Desc_monument</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ville</th>
            </tr>
        </thead>
        <tbody>
        {% for monument in monuments %}
            <tr>
                <td>{{ monument.idMonument }}</td>
                <td>{{ monument.nomMonument }}</td>
                <td><img src="{{ asset('assets/BACK/img/Pays/monument_img/' ~ monument.imgMonument ~ '.jpg') }}" alt="" style="max-width: 100px; max-height: 100px;"></td>                
                <td>{{ monument.descMonument }}</td>
                <td>{{ monument.villes.nom_ville }}</td>
                <td>
                    <a href="{{ path('app_monument_show', {'id_monument': monument.idMonument}) }}"class="btn btn-primary">Show</a>
                    <a href="{{ path('app_monument_edit', {'id_monument': monument.idMonument}) }}"class="btn btn-warning">Edit</a>
                    <a href="{{ path('deleteMonument', {'id_monument': monument.idMonument}) }}" class="btn btn-danger">Delete</a>         
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_monument_new') }}" class="btn btn-success">Create Monument</a>
{% endblock %}
