{% extends 'back/t_base.html.twig' %}
{% block body %}
    
    <div class="card-header pb-0">
        <a href="{{ path('app_monument_new') }}" class="btn btn-success">Create Monument</a>
    </div>
    <div class="card-header pb-3">
        <h4>Liste des monuments</h4>
    </div>
    <form action="{{ path('app_monument_index') }}" method="get" class="d-flex">
            <input class="form-control me-2" placeholder="Taper le nom..." name="q" style="width: 20%;; height: 45px;">
            <button type="submit" class="btn btn-warning">Search</button>
        </form>
        {% if app.request.query.get('q') %}
        <button onclick="goBack()" class="btn btn-warning" style="width: 20%;; height: 45px;">View All</button>
    {% endif %}
    <script>
        function goBack() {
            console.log("Bouton View All cliqué");
            window.history.back();
        }
    </script>
    <table class="table align-items-center mb-0" border="1">
        <thead>
            <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Id_monument</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Nom_monument</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Img_monument</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Desc_monument</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ville</th>
            </tr>
        </thead>
        <tbody>
        {% for monument in monuments %}
            <tr>
                <td>{{ monument.idMonument }}</td>
                <td>{{ monument.nomMonument }}</td>
                <td><img src="{{ asset('assets/BACK/img/Pays/' ~ monument.imgMonument ) }}" alt="" style="max-width: 100px; max-height: 100px;"></td>                
                <td>{{ monument.descMonument }}</td>
                <td>{{ monument.villes.nom_ville }}</td>
                <td>
                    <a href="{{ path('app_monument_show', {'id_monument': monument.idMonument}) }}"class="btn btn-primary">Show</a>
                    <a href="{{ path('app_monument_edit', {'id_monument': monument.idMonument}) }}"class="btn btn-warning">Edit</a>
                    <a href="{{ path('deleteMonument', {'id_monument': monument.idMonument}) }}" class="btn btn-danger">Delete</a>         
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
