{% extends 'back/t_base_pays.html.twig' %}
{% block body %}
 <style>
        td.paragraph-wrap {
        white-space: pre-wrap;
        }
    </style>
    <div class="card-body px-3 pt-3 pb-4">     
        <div class="table-responsive p-0">
            <table class="table align-items-center mb-0" border="1">
                <tbody>
                    <tr>
                        <th>Id_monument</th>
                        <td>{{ monument.idMonument }}</td>
                    </tr>
                    <tr>
                        <th>Nom_monument</th>
                        <td>{{ monument.nomMonument }}</td>
                    </tr>
                    <tr>
                        <th>Img_monument</th>
                        <td><img src="{{ asset('assets/BACK/img/Pays/' ~ monument.imgMonument ) }}" alt="" style="max-width: 100px; max-height: 100px;"></td>                
                    </tr>
                    <tr>
                        <th>Desc_monument</th>
                        <td style="white-space: pre-wrap;">{{ monument.descMonument }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a href="{{ path('app_monument_index') }}"class="btn bg-gradient-info">View list</a>

    <a href="{{ path('app_monument_edit', {'id_monument': monument.idMonument}) }}"class="btn bg-gradient-success">EDIT</a>

    {{ include('monument/_delete_form.html.twig') }}
{% endblock %}
